@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #4b4b4b;
  border: 3px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b6b6b;
  border: 3px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}